[submodule "projects/01-image-to-story"]
	path = projects/01-image-to-story
	url = git@github.com:paarad/01-image-to-story.git
	branch = main
[submodule "projects/02-market-sentiment-feed"]
	path = projects/02-market-sentiment-feed
	url = git@github.com:paarad/02-market-sentiment-feed.git
	branch = main
[submodule "projects/03-coincerto"]
	path = projects/03-coincerto
	url = git@github.com:paarad/03-coincerto.git
	branch = main
[submodule "projects/04-dao-proposal-tldr"]
	path = projects/04-dao-proposal-tldr
	url = git@github.com:paarad/04-dao-proposal-tldr.git
	branch = main
[submodule "projects/05-PFPmask"]
	path = projects/05-PFPmask
	url = git@github.com:paarad/05-PFPmask.git
	branch = main
[submodule "projects/06-jeandelafontaine"]
	path = projects/06-jeandelafontaine
	url = git@github.com:paarad/06-jeandelafontaine.git
	branch = main
[submodule "projects/07-deadticker"]
	path = projects/07-deadticker
	url = git@github.com:paarad/07-deadticker.git
	branch = main
[submodule "projects/08-hopium-calculator"]
	path = projects/08-hopium-calculator
	url = git@github.com:paarad/08-hopium-calculator.git
	branch = main
[submodule "projects/09-PFP-masquerade"]
	path = projects/09-PFP-masquerade
	url = git@github.com:paarad/09-PFP-masquerade.git
	branch = main
[submodule "projects/10-cope-station"]
	path = projects/10-cope-station
	url = git@github.com:paarad/10-cope-station.git
	branch = master
[submodule "projects/11-autoflex"]
	path = projects/11-autoflex
	url = git@github.com:paarad/11-autoflex.git
	branch = main
